<div class="AnalyticsFilters">
  <p-dropdown
    (ngModelChange)="periodChange.emit($event)"
    class="AnalyticsFilters-item"
    [ngModel]="period"
    [options]="periods"
    optionLabel="key"
    optionValue="value"
  ></p-dropdown>
  <span class="AnalyticsFilters-dateRangeLabel">From</span>
  <p-calendar
    (ngModelChange)="dispatchStartAtChange($event)"
    [ngModel]="startAt"
    [view]="isMonthlySelected ? 'month' : 'date'"
    dateFormat="yy-mm-dd"
    class="AnalyticsFilters-item"
  ></p-calendar>
  <span class="AnalyticsFilters-dateRangeLabel">To</span>
  <p-calendar
    (ngModelChange)="dispatchEndAtChange($event)"
    [ngModel]="endAt"
    [view]="isMonthlySelected ? 'month' : 'date'"
    dateFormat="yy-mm-dd"
    class="AnalyticsFilters-item"
  ></p-calendar>
</div>
